* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, rgb(233, 213, 255), rgb(199, 210, 254));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
}

.muu-container {
    display: flex;
    width: 100%;
}

.muu-path {
    fill: #FFFFFF;
    opacity: 1;
    /*stroke: #000000;
    stroke-width: 2;*/
}

.muu-logo {
    filter: drop-shadow(0 0 6px rgba(73, 19, 235, 0.5));
    
}
